.records {
  padding-top: $padding-large-horizontal;
  .record {
    border-bottom: 1px solid $gray-lighter;
    padding: $padding-large-horizontal 0;

    .description{
      white-space: pre-wrap;
      padding-bottom: $padding-large-vertical;
    }

    h2, h4{
      margin-top: 0;
    }
  }
}

.navbar-text {
  margin-left: 15px;
}
