<div class="container">
  <div class="row">
    <div class="col-lg-12 records">
      <spinner ng-show="ctrl.loading"></spinner>

      <div class="record row velocity-opposites-transition-slideRightIn"
           ng-repeat="record in ctrl.records"
           data-velocity-opts="{ stagger: 150, duration: 250 }"
           ng-hide="ctrl.loading"
           ng-show="ctrl.records.length > 0">
        <div class="col-lg-6">
          <button type="button" class="close hidden-lg" ng-click="ctrl.removeRecord(record)">&times;</button>
          <h2>{{record.name}}</h2>
          <p>{{record.description}}</p>
          <a ui-sref="record/edit({recordId: record.configuration_id})" class="visible-lg">Edit</a>
        </div>
        <div class="col-lg-6">
          <button type="button" class="close visible-lg" ng-click="ctrl.removeRecord(record)">&times;</button>
          <h4>Slots:</h4>
          <ul ng-show="record.slots.length > 0">
            <li ng-repeat="slot in record.slots">
              <strong>{{ slot.provider | slotProvider }}:</strong>
              {{ slot.options }}
            </li>
          </ul>
          <i ng-hide="record.slots.length > 0">No slots has been added</i>
          <a ui-sref="record/edit({recordId: record.configuration_id})" class="hidden-lg">Edit</a>
        </div>
      </div>

      <div class="col-md-12 text-center" ng-hide="ctrl.records.length > 0 || ctrl.loading">
        <h2>How did you end up with no records? ;)</h2>
        <p>No worries, just create a new one</p>
        <p><a class="btn btn-primary" ui-sref="record/create">Add first record</a></p>
      </div>
    </div>
  </div>
</div>
